$mainColor: #4ccfb7;
$darkBgColor: #a0aeac;
 
.App{
  width: 100vw;
  height: 100vh;
  background-color: $darkBgColor;
  display: flex;
  justify-content: center;
  align-items: center;
}

.generalBtn{
    background-color: $mainColor;
    border: none;
    border-radius: 0.5vh;
    font-size: 2vh;
}

.txtBoxcont{
  width: 20vw;
  height: 40vh;
  border-radius: 5px;
  background-color: #4ccfb7;
}

header{
  position: fixed;
  height: 10vh;
  width: max-content;
  background-color: #4ccfb7;
  
}