$mainColor: #4ccfb7;
$darkBgColor: #a0aeac;
 
.App{
  width: 100vw;
  height: 100vh;
  background-color: $darkBgColor;
  display: flex;
  justify-content: center;
  align-items: center;
}

.generalBtn{
    background-color: $mainColor;
    border: none;
    border-radius: 0.5vh;
    font-size: 2vh;
}
  
  